* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    padding: 50px 300px 0 300px;
}

h1 {
    font: normal bold 36px/48px 'PT Serif', sans-serif;
    letter-spacing: -0.045em;
}

h2 {
    font: normal 600 18px/27px 'Poppins', sans-serif;
    text-transform: uppercase;
}

p {
    font: normal normal 18px/27px 'Poppins', sans-serif;
}

.fullname {
    font: normal 600 18px/27px 'Poppins', sans-serif;
}

.job {
    font: normal normal 12px/16px 'PT Serif', sans-serif;
    text-transform: uppercase;
}

img {
    width: 238px;
}

.description {
    position: absolute;
    /* left: 0; */
    right: 400px;
}

.description p {
    width: 439px;
}

.one, 
.two,
.three,
.four,
.five,
.six {
    width: 300px;
}
.one {
    position: relative;
    top: 150px;
}

.job {
    transform: rotate(90deg);
    position: absolute;
    top: 43px;
    left: 210px;
}

.one .fullname {
    margin-top: 5px;
}

.two {
    position: relative;
    left: 450px;
}

.two .job {
    transform: rotate(90deg);
    position: absolute;
    top: 35px;
    left: 215px;
}

.three {
    position: relative;
    left: 800px;
}


footer p,
footer p a {
    text-align: center;
    font: normal 500 14px/17px 'Montserrat', sans-serif;
    color: #A9A9A9;
}
footer p a {
    font-weight: bold;
}
